<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title}) %>
  <body>
    <%- include('partials/navbar', {links: links}) %>

    <h1>404 - Page not found!</h1>
    <h3>Oops.., the resource can't be found :/</h3>
    <ul>
      <% users.forEach((user) => { %> <%- include('users/user', {user: user});
      %> <% }); %>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>
