<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title}) %>
  <body>
    <%- include('partials/navbar', {links: links}) %>

    <h1>About</h1>
    <h3>About this page</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione maiores
      ipsa fugiat molestias molestiae provident, soluta, laborum fugit error
      recusandae sint libero, eius magni? Consequuntur expedita quidem quas
      consectetur accusamus.
    </p>
    <ul>
      <% users.forEach((user) => { %> <%- include('users/user', {user: user});
      %> <% }); %>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>
